@model Latog_Final_project.Models.InventoryTransactionViewModel

@{
    ViewData["Title"] = "Archived Transactions";
}

<h2 class="mb-4 fw-bold"><i class="bi bi-archive"></i> Archived Transactions</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <div id="ajax-pagination-container">
            @await Html.PartialAsync("_ArchivedTransactionsTable", Model)
        </div>
    </div>
</div>
