@model Latog_Final_project.Models.InventoryViewModel

@{
    ViewData["Title"] = "Inventory";
}

<h2 class="mb-4 fw-bold"><i class="bi bi-box-seam"></i> Inventory</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <div id="ajax-pagination-container">
            @await Html.PartialAsync("_InventoryTable", Model)
        </div>
    </div>
</div>
