@model Latog_Final_project.Models.ResourceRequestViewModel

@{
    ViewData["Title"] = "PO Receipts";
}

<h2 class="mb-4 fw-bold">Purchase Order Receipts</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <div id="ajax-pagination-container">
            @await Html.PartialAsync("_POReceiptTable", Model)
        </div>
    </div>
</div>
